<br/>
<section class="hero is-danger is-bold is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div *ngFor="let page of pageArr" class="row">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">
							{{page.name}}
						</p>
						<a href="#" class="card-header-icon" aria-label="more options">
							<span class="icon">
								<i class="fas fa-angle-down" aria-hidden="true"></i>
							</span>
						</a>
					</header>
					<div class="card-content">
						<div class="content">
							{{page.description}}
							<br />
							<time style="float: right;">{{page.date | date}}</time>
						</div>
					</div>
					<footer class="card-footer">
						<a href="#" *ngIf="isPageOwner(page.owner)" class="card-footer-item edit-item">Edit</a>
						<span href="#" *ngIf="!isPageOwner(page.owner)" class="card-footer-item"></span>
						<a [routerLink]="['/page', page._id]" [state]="{'data':page._id}" class="card-footer-item view-item">View Posts</a>
						<a href="#" *ngIf="isPageOwner(page.owner)" class="card-footer-item delete-item">Delete</a>
						<span href="#" *ngIf="!isPageOwner(page.owner)" class="card-footer-item"></span>
					</footer>
				</div>
				<br />
			</div>
		</div>
	</div>
</section>