<div id="sidenav" class="md-elevation-z12">
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
        <div class="background">
            <img src="https://media.bizj.us/view/img/9596142/rpi-misc-5-2016-01*750xx5819-3271-0-525.jpg">
        </div>
        <a href="#user"><img class="circle" src="../../images/coollahan.jpg"></a>
        <a href="#name"><span class="white-text name">Dr. Coollahan</span></a>
        <a href="#email"><span class="white-text email">drcoollahan@rpi.edu</span></a>
        </div>
    </li>
    <li>
        <a class="subheader">Bio</a>
    </li>
    <li>
        <span class="bio black-text">Hello, my name is Dr. Coollahan. I teach RPI Web Science! I love Meme Team 6 and all of their memes, they're so cool</span>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">Interests</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">#GreekLife</a>
        <a class="waves-effect" href="#!">#Rush</a>
        <a class="waves-effect" href="#!">#Food</a>
        <a class="waves-effect" href="#!">#HockeyGame</a>
        <a class="waves-effect" href="#!">#2020</a>
    </li>
</ul>
</div>
