<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

<div class="black-text container mx-auto" style="width: 800px; background: white; color: white;">
  <h3>Filter:</h3>
  <button mat-raised-button><a class="filter" href="#!">#Interests</a></button> |  
  <button mat-raised-button><a class="filter" href="#!">#Events</a></button> | 
  <button mat-raised-button><a class="filter" href="#!">#Rush</a></button> | 
  <button mat-raised-button><a class="filter" href="#!">#GreekLife</a></button> | 
  <button mat-raised-button><a class="filter" href="#!">#Gigs</a></button> | 
  <button mat-raised-button><a class="filter" href="#!">#Internships</a></button> | 
  <button mat-raised-button><a class="filter" href="#!">#Jobs</a></button> | 
  <button mat-raised-button><a class="filter" href="#!">#Scholarships</a></button>
  <hr/>
  <div class="col col-md-8 text-center mx-auto">
    <mat-card>
      <a href="index.html">
        <div class="card-body">
          <mat-card-title>News/Announcements</mat-card-title>
          <mat-card-subtitle>
            For official news from the admin
          </mat-card-subtitle>
          <p class="card-text text-justify" id="announce-text">
            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
            odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
            mi porta gravida at eget metus.
          </p>
        </div>
      </a>
    </mat-card>
    <mat-card>
      <a href="index.html">
        <div class="card-body">
          <mat-card-title>General Discussion</mat-card-title>
          <mat-card-subtitle>
            For general school discussion
          </mat-card-subtitle>
          <p class="card-text text-justify" id="gen-t">
            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
            odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
            mi porta gravida at eget metus.
          </p>
        </div>
      </a>
    </mat-card>
    <mat-card>
      <a href="index.html">
        <div class="card-body">
          <mat-card-title>Random</mat-card-title>
          <mat-card-subtitle>For any off topic discussion</mat-card-subtitle>
          <p class="card-text text-justify" id="rand-t">
            Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
            odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
            mi porta gravida at eget metus.
          </p>
        </div>
      </a>
    </mat-card>
    <mat-card>
        <a href="index.html">
          <div class="card-body">
            <mat-card-title>For Sale</mat-card-title>
            <mat-card-subtitle>For any off topic discussion</mat-card-subtitle>
            <p class="card-text text-justify" id="rand-t">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
              odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
              mi porta gravida at eget metus.
            </p>
          </div>
        </a>
      </mat-card>
      <mat-card>
        <a href="index.html">
          <div class="card-body">
            <mat-card-title>Free</mat-card-title>
            <mat-card-subtitle>For any off topic discussion</mat-card-subtitle>
            <p class="card-text text-justify" id="rand-t">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
              odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
              mi porta gravida at eget metus.
            </p>
          </div>
        </a>
      </mat-card>
      <mat-card>
        <a href="index.html">
          <div class="card-body">
            <mat-card-title>Back Work</mat-card-title>
            <mat-card-subtitle>For any off topic discussion</mat-card-subtitle>
            <p class="card-text text-justify" id="rand-t">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
              odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
              mi porta gravida at eget metus.
            </p>
          </div>
        </a>
      </mat-card>
      <mat-card>
        <a href="index.html">
          <div class="card-body">
            <mat-card-title>Random</mat-card-title>
            <mat-card-subtitle>For any off topic discussion</mat-card-subtitle>
            <p class="card-text text-justify" id="rand-t">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo
              odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non
              mi porta gravida at eget metus.
            </p>
          </div>
        </a>
      </mat-card>

  </div>

</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var elems = document.querySelectorAll(".sidenav");
    var instances = M.Sidenav.init(elems, options);
  });
</script>
