<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" routerLink = "/">
			<img src="https://image.flaticon.com/icons/png/512/12/12426.png" width="40" />
		</a>

		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
			data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<span class="brand-logo">{{this.navTitle}}</span>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a *ngIf="!this.loggedIn()" class="button is-primary" routerLink="/register">
						<strong>Sign Up</strong>
					</a>
					<a *ngIf="!this.loggedIn()" class="button is-light" routerLink="/login">
						Log In
					</a>
					<a *ngIf="this.router.url.includes('/page')" class="button is-primary" routerLink="/createPost">
						Create Post
					</a>
					<a *ngIf="this.loggedIn() && !this.router.url.includes('/page')" class="button is-primary" routerLink="/createPage">
						Create Page
					</a>
					<a *ngIf="this.loggedIn()" class="button is-light" (click)="logout()">
						Log Out
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>