.brand-logo{
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 5;
    padding-top: 15px;
}

.brand{
    filter: brightness(0) invert(1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #d21919;
    color: white;
    font-weight: 600;
    width: 100%;
}

img {
    margin: 2% 16px;
}

span{
    margin: 0 auto;
}

.burger{
    background-color: #d21919;
    color: black;
}