<section class="hero is-primary is-bold is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-5-tablet is-4-desktop is-3-widescreen">
					<form class="box" action="" [formGroup]="loginForm" (ngSubmit)="login()">
						<div class="field">
							<label for="" class="label">Email</label>
							<div class="control has-icons-left">
								<input type="email" 
										placeholder="e.g. bobsmith@rpi.edu" 
										class="input" 
										formControlName = "email"
										required />
								<span class="icon is-small is-left">
									<i class="fa fa-envelope"></i>
								</span>
							</div>
						</div>
						<div class="field">
							<label for="" class="label">Password</label>
							<div class="control has-icons-left">
								<input type="password" 
										placeholder="*******" 
										class="input"
										formControlName = "password"
										required />
								<span class="icon is-small is-left">
									<i class="fa fa-lock"></i>
								</span>
							</div>
						</div>
						<div class="field">
							<label for="" class="checkbox">
								<input type="checkbox" />
								Remember me
							</label>
						</div>
						<div class="field">
							<button class="button is-success" [disabled]="!loginForm.valid">
								Login
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>