.hero-body{
    background-image: url('../../assets/img/rpi.jpeg') !important;
    background-position: center center;
    background-size: 100% 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100vh;
    width: 100vw;
}

.card{
    padding: 5%;
}

.content{
    text-align: center;
}