#sidenav{
    box-shadow: 20px 20px 50px 10px #ccc;
}

.sidenav{
    top: 60px;
    background-color: rgb(245, 245, 245);
}
.bio{
    display: block;
    padding: 0 32px;
    line-height: 20px;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

